body {
  font-family: sans-serif;
}

ul {
  border: 2px solid #ccc;
  margin: 0;
  padding: 0;
}
  
  ul li.section {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li a.title {
    background: #f2f2f2;
    border-top: 2px solid #ccc;
    color: #000;
    display: block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
  }
  
  ul li:first-child a.title {
    border-top: 0;
  }
  
    ul li a.title:hover {
      background: #ccc;
    }
  
  ul li div.toggle {
    border-top: 2px solid #ccc;
    padding: 0 10px;
  }
  
  ul li.section.expanded a.title {
    background: #ccc;
  }
  
  .disabled, .disabled * {
    border-color: red !important;
    color: red !important;
  }